.Active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 27px;
  border-radius: 5px;
  background-color: #3cb371;
  color: white;
}
.not_active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.Action_btn_toggle {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  text-align: center;
  width: 10%;
  height: 30%;
  position: absolute;
  background-color: whitesmoke;

  top: 0;
}
#demo-positioned-button {
  background-color: #3cb371;
  color: white;
}
.Add_sites_btn {
  width: 100%;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3cb371;
  border: none;
  border-radius: 5px;
  gap: 5px;
}
.Add_icon {
  font-size: 20px;
}
.users_search_input {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 30px;
  margin-left: 75px;
  gap: 10px;
}
.user_search__input {
  width: 220px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.Add_sites_btn {
  cursor: pointer;
}
.table__contine {
  display: flex;
  justify-content: center;
  align-items: center;
}
.UserTable__btn__container {
    width: 100%;
  display: flex;
 justify-content: space-between;
}
