.Apps__AddApps_download__container {
  margin: 20px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
}
.AddApps__btn__heading__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.AddApps__btn____Apps__Download__btn___container {
  display: flex;
  gap: 10px;
}
.AddApps__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  background-color: #3cb371;
  color: white;
  border: none;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.Apps__Download__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  background-color: #bd931f;
  color: white;
  border: none;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}
.Add__app_Icon {
  font-size: 20px;
}
.apps__download__Icon {
  font-size: 20px;
}
.textFieldApp__Form {
  margin: 20px;
  width: 100%;
}
.add__Apps__text_field__btn {
  width: 25%;
  height: 40px;
  color: white;
  background-color: #252e58;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.mob__App_top {
  width: 100%;
  text-align: left;
}
.Add__apps__modal{
  width: 70%;
}

