.User__profile__Container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.User__Dp {
  display: flex;
  width: 40%;
  min-height: 50%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  /* border: 5px solid black; */
}
.User__Dp:hover {
}
.User__Dp img {
  height: 100px;
  width: 70%;
  border-radius: 50% 50% 50% 50%;
}
.Profile__User__Name {
  font-size: 25px;
  font-weight: 300;
}
.Profile__Status {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.Status__Verified {
  margin-left: 7px;
}
.Profile__Line {
  width: 90%;
  height: 4px;
  border-bottom: 1px solid rgb(201, 195, 195);
}
.status__Tick {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.status__Tick span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
