.UsersApps__table__Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.User__Active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #3cb371;
  color: white;
  border-radius: 5px;
}
.User__Stopped {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
